.container-link-register{
    display: flex;
    justify-content: center;
}

.titulo-ingresar{
    display: flex;
    justify-content: center;
}

.titulo-bienvenida{
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align:center;
}