<h2 class="titulo-bienvenida"> Bienvenido a appCompetencias </h2> 

<div class="container" style="padding: top 50px;">  
    <div class="row">  
        <div class="col-md-6 mx-auto">  
            <div class="card-group">  
                <div class="card p-4">  
                    <div class="card-body">  
                        <form name="form" (ngSubmit)="goToLogin()">  
                            <!-- <button class="btn btn-primary" style="text-align:center">Login</button>   -->  
                            <h2 class="titulo-ingresar">Ingresar</h2>  
                            <div style="padding-top: 20px;" class="input-group mb-3">  
                                <div class="input-group-prepend">  
                                    <span class="input-group-text"><i class="icon-user"></i></span>  
                                </div>  
                                <input type="text" name="UserName" class="form-control sty1" placeholder="Email"  
                                    required>  
                            </div>  
                            <div class="input-group mb-4">  
                                <div class="input-group-prepend">  
                                    <span class="input-group-text"><i class="icon-lock"></i></span>  
                                </div>  
                                <input type="password" name="Password" class="form-control" placeholder="Contraseña"  required>  
                            </div>   
                            <div class="row">  
                                <div class="col-6">  
                                    <button type="submit" class="btn btn-primary px-4" >Ingresar</button>  
                                </div>  
                                <div class="col-6 text-right">  
                                    <button type="button" class="btn btn-link px-0">¿ Olvidaste tu contraseña ?</button>  
                                </div>  
                            </div>  
                        </form>  
                            <hr style="border-top: 1px solid #eee;">  
                            <div class="row">  
                                <div class="col-6">  
                                    <button class="loginBtn loginBtn--facebook" type="button" (click)="signInWithFB()" routerLink="/inicio" >  
                                        Ingresa con Facebook  
                                    </button>  
                                </div>  
                                <div class="col-6 text-right">  
                                    <button  class="loginBtn loginBtn--google" (click)="signInWithGoogle()" >  
                                        Ingresa con Google  
                                    </button>  
                                </div>  
                            </div>  
                    </div>  
                </div> 
            </div>  
        </div>  
    </div> 
    <div class="container-link-register" style="padding-top: 10px;">
        <span>Aun no tienes una cuenta ?   <a routerLink="/register">crea una cuenta</a></span>
    </div>
</div>