<h2 class="titulo-usuario" style="padding-top:15px;">Hola {{firstName}}!</h2>
<div class="container" style="padding-top:50px;">  
    <div class="row">  
        <div class="col-md-6 mx-auto">  
            <div class="card-group">  
                <div class="card p-4">
                    <div class="justify-content center">
                        <p class="parrafo-info">
                                Esta aplicación web consiste en un juego en el que usted podrá recrear un escenario
                                que simula maquinaria e instalaciones de un entorno productivo real, en el cual 
                                los estudiantes buscan distribuir de la mejor manera el espacio asignado para la ubicación de los equipos y 
                                áreas del proceso productivo, a través del método convencional (SLP); y así, determinar cuál es la 
                                distribución más adecuada.
                        <br/>
                                El método SLP puede aplicarse a oficinas, laboratorios, áreas de servicio, operaciones 
                                manufactureras o almacenes, siendo aplicable en caso de readaptaciones en edificios 
                                ya existentes, en nuevos edificios o en el nuevo emplazamiento en planta a proyectar.
                        </p>
                    </div>    
                </div>  
            </div>  
        </div>  
    </div> 
</div>
<div class="div-label" > 
    <label type="text" class="label-info">
        Antes de iniciar el juego se recomienda
        investigar y comprender un poco más acerca del método (SLP) 
        para obtener un buen resultado al final del juego.
    </label>
</div>
<div class="div-boton">  
    <button type="button" (click)="signOut()"  class="btn btn-primary px-4">Sign Out</button >  
</div>


<div class="div-boton">  
    <button type="button"  class="btn btn-primary px-4" routerLink="/dashboard">Iniciar</button >  
</div> 