<h2 class="titulo-usuario">Hola Usuario!</h2>
<div class="container" style="padding-top:60px;">  
    <div class="row">  
        <div class="col-md-6 mx-auto">  
            <div class="card-group">  
                <div class="card p-4">
                    <div align="center">
                        <p>
                            <textarea readonly ="true" class="textarea" rows="15" cols="50"  >
                                Esta aplicación web consiste en un juego en el que usted podrá recrear un escenario
                                que simula maquinaria e instalaciones de un entorno productivo real, en el cual 
                                los estudiantes buscan distribuir de la mejor manera el espacio asignado para la ubicación de los equipos y 
                                áreas del proceso productivo, a través del método convencional (SLP); y así, determinar cuál es la 
                                distribución más adecuada.

                                El método SLP puede aplicarse a oficinas, laboratorios, áreas de servicio, operaciones 
                                manufactureras o almacenes, siendo aplicable en caso de readaptaciones en edificios 
                                ya existentes, en nuevos edificios o en el nuevo emplazamiento en planta a proyectar.
                            </textarea>
                        </p>
                    </div>    
                </div>  
            </div>  
        </div>  
    </div> 
</div>
<div class="div-label" > 
    <label type="text" class="label-info">
        Antes de iniciar el juego se recomienda
        investigar y comprender un poco más acerca del método (SLP) 
        para obtener un buen resultado al final del juego.
    </label>
</div>
<div class="div-boton">  
    <button type="button" routerLink="/dashboard" class="btn btn-primary px-4">Empezar</button >  
</div> 